trigger: none
pool: 
  name: Default
steps:
  - 
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/Default'
      commandOptions: 'terraform init'
      backendServiceArm: 'servicecoonection'
      backendAzureRmResourceGroupName: 'rgwalifeeing'
      backendAzureRmStorageAccountName: 'storagemukesh15485'
      backendAzureRmContainerName: 'containore'
      backendAzureRmKey: 'terraform.tfstate'
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: '$(System.DefaultWorkingDirectory)/Default'
      commandOptions: 'terraform.validate'
    -task: TerraformTask@5
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)/Default'
      commandOptions: 'Terraform.plan'
      environmentServiceNameAzureRM: 'servicecoonection'
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(System.DefaultWorkingDirectory)/Default'
      environmentServiceNameAzureRM: 'servicecoonection'
  
