trigger: none

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self

- task: TerraformTaskV4@4
  displayName: 'Terraform Init'
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
    backendServiceArm: 'serviceconnection'
    backendAzureRmResourceGroupName: 'terraform-rg'
    backendAzureRmStorageAccountName: 'storagemukesh15485'
    backendAzureRmContainerName: 'containers'
    backendAzureRmKey: 'terraform.tfstate'

- task: TerraformTaskV4@4
  displayName: 'Terraform Plan'
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
    environmentServiceNameAzureRM: 'serviceconnection'
