trigger: none
pool: Default
steps:
  - 
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
    backendServiceArm: 'servicecoonection'
    backendAzureRmStorageAccountName: 'storagemukesh15485'
    backendAzureRmContainerName: 'Containers'
    backendAzureRmKey: 'terraform.tfestate'